.card {
	border-radius: 0;
	height: 100%;
}

.card-post {
	text-align: center;
	border: none;

	.card-body {

		.icon-card {
			font-size: 3em;
			color: $gray-600;
		}
	}
}

.card-product {
	text-align: center;
	border: none;

	.card-img-top {
		border-radius: 0px;
		object-fit: contain;
		height: 10rem;
	}

	.card-body {
		padding: 0px;

		.icon-card {
			font-size: 3em;
			color: $gray-600;
		}
	}
}

.card-title {
	margin-top: 0.75rem;
}

.card-text {
	margin-bottom: 0.5rem;
}

.card-price {
	font-family: Raleway;
}

.card-footer {
	background: none;
    border: none;
}