footer {
	background-color: $gray-800;
	color: $white;
	padding-top: 1em;
	font-size: 15px;
	font-weight: 100;

	ul {

		li {

			a {
				color: $white;

				&:hover {
					color: $gray-300;
					text-decoration: none;
				}
			}

			.icon-payment {
				font-size: 2em;
			}

			&.h5 {
				font-size: 1em;
			}
		}
	}

	.copyright {
		background-color: $black-20;
		margin-top: 1em;
		padding-top: 0.5em;
    	padding-bottom: 0.5em;
		font-size: 14px;

		p {
			margin-bottom: 0;
		}
	}
}

@media (max-width: 767.98px) {

	footer {
		text-align: center;
	}
}