header {
	background-color: $gray-800;
	text-transform: uppercase;

	.navbar-dark {

		.navbar-brand {

			&:hover {
				color: $gray-300;
			}

			.icon-brand {
				font-size: 2em;
			}
		}

		.navbar-nav {

			.nav-link {
				color: $white;

				&:hover {
					color: $gray-300;
				}
			}
		}

		.navbar-toggler {
			color: $white;
			border: none;
		}
	}

	.navbar-nav {
		.nav-cart {
			position: relative;
			margin-right: 5px;

			.count {
				position: absolute;
				top: 3px;
				right: -5px;
				font-size: 10px;
				vertical-align: middle;
			}
		}
	}
}

@media (max-width: 992px) {

	.navbar-nav {
		.nav-cart {
			position: relative;

			.count {
				left: 48px;
				right: auto !important;
			}
		}
	}
}